#bg-img{
    background-image: url(bg.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    
}
.d-inline{
    display: inline;
   
    
}
.padding-left{
    padding-left: 20%;
}
h2{
    color: aliceblue;
}
p{
    color:aliceblue;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: end    ;
}
.d-flex{
    display: flex;
    justify-content: center;
}
.p-4{
    padding: 10px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
  .inline-block{
      display: inline-block;
      float: right;
      padding-right: 20%;


  }
  .class {
    width: 100px;
    height: 100px;
    background: red;
    position: relative;
    animation: mymove 3s;
    animation-fill-mode: none;
  }
  
  @keyframes mymove {
    from {top: 0px;}
    to {top: 200px; background-color: blue;}
  }